/* GENRAL */
* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  text-transform: capitalize;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
}

h2 {
  padding: 50px;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 30px;
}

.btn,
.nav-toggle {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.btn:hover {
  background-color: black;
  color: white;
}

/* clor flipper */

.index {
  margin-right: 40px;
}
.hex {
  margin-left: 40px;
}

/* counter */

span {
  display: block;
  margin: 20px;
}

/* reviews */

.review {
  box-shadow: 0px 0px 10px lightgray;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  height: 500px;
}

.prev-button,
.next-button {
  margin: 20px;
  color: lightskyblue;
  font-weight: bolder;
}

.underline {
  height: 5px;
  background-color: lightskyblue;
  width: 10%;
  margin: auto;
}

.underline-job {
  height: 2px;
  background-color: lightskyblue;
  width: 10%;
  margin: 0 auto 20px;
}

.profile-img {
  border-radius: 99px;
  width: 150px;
  left: 10px;
  top: 10px;
}
.profile-container {
  background-color: lightskyblue;
  height: 150px;
  margin: auto;
}

.is-absolute {
  position: absolute;
}
.is-relative {
  position: relative;
}

#job {
  text-transform: uppercase;
  padding-bottom: 5px;
}

p {
  text-transform: none;
}

#info {
  box-shadow: -10px -10px 0px 0px lightskyblue;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  width: 50%;
}

/* Navbar */
.nav-center {
  background-color: aliceblue;
  z-index: -1;
}
.nav-header {
  padding: 5px 30px;
  width: 100%;
  max-height: 80px;
  z-index: 0;
}

.menu-line {
  height: 2px;
  width: 30px;
  background-color: black;
  margin: 10px;
}

.is-flex {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-content-center {
  align-content: center;
}

.logo {
  max-width: 30%;
  min-width: 100px;
  max-height: inherit;
}

.nav-toggle {
  max-height: 50px;
  width: 50px;
  padding: 0;
  margin: auto 0;
  background-color: transparent;
}

.nav-links {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links li:hover {
  color: blue;
  cursor: pointer;
}

@media (min-width: 769px) {
  .nav-toggle {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    top: 70px;
    padding: 0 30px;
    background-color: aliceblue;
    height: 0;
    overflow: hidden;
    transition-duration: 0.5s;
  }
  .show-links {
    height: 10rem;
  }
  .nav-links li {
    margin: 10px 0;
  }
}

@media (max-width: 425px) {
  .nav-links {
    top: 50px;
  }
}
